body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d1ccca;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#gameInfo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px;
    padding: 15px;
    padding-top: 10px;
    border-radius: 5vh;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center; /* Center the text inside the gameInfo */
}

.mainMenu {
    margin-top: 5vh;
    text-align: center;
    font-size: 2vh;
}

.level {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.level p {
    margin: 4vh;
    padding: 6vh;
    border-radius: 4vh;
    background-color: #34aeff;
    border-color: #000000;
    text-align: center; /* Center the text inside the level blocks */
}
