body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    box-shadow: inset 0 0 0 10px black;
    position: absolute;
    top: 0px;
}

#gameInfo {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.mainMenu {
    margin-top: 5vh;
    text-align: center;
    font-size: 2vh;
}

.level {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.level p {
    margin: 4vh;
    padding: 6vh;
    border-radius: 4vh;
    background-color: #34aeff;
    border-color: #000000;
}